{% extends 'EscritoresBundle::main.html.twig' %}
{% block title%}
	Inicio
{% endblock %}
{% block contenido %}
    
    <div class="col-sm-8 blog-main">
    	{% for blogs in blog %}    		
			<div class="blog-header">
				<header>
	    			<h2>
	    				<a href="#">
	    					{{ blogs.title}}
	    				</a>
	    			</h2>
    			</header>
    			<time class="blog-post-meta" datetime="{{ blogs.created|date('c')}}">
    				{{ blogs.created|date('l, F j Y')}}
    			</time>    			
    		</div>
    		<img class="image" src="{{asset(['img/', blogs.image]|join)}}">
    		<div>
    			<p>{{ blogs.blog(500) }}</p>
    			<p><a href=""></a>continue reading...</p>
    		</div>

    		<footer>
    			<p>Comments: <a href="">{{ blogs.comments|length}}</a> </p>
    			<p class="blog-post-meta">Posted by  <span class="highlight">{{ blogs.author }}</span> at {{ blogs.created|date('h:iA') }}</p>
    			<p>Tags: <span class="highlight">{{ blogs.tags }}</span></p>
    		</footer>
    	{% endfor %}
    </div>
{% endblock %}