{# src/BlogBundle/Resouces/views/form.html.twig #}
{% extends 'EscritoresBundle::main.html.twig' %}
{% block contenido %}
	 <div class="col-sm-8 blog-main">
		<!--form action="{#{ path('blog_comment_new',{'blog_id': comment.blog.id }) }}" method="POST"{#{ form_enctype(form)}#} class="blogger"-->
		{{ form_start (form)}}
			{{ form_errors(form)}}	
	   		 
		    	{{form_label(form.nombre)}}
		    	{{form_errors(form.nombre)}}
		    	{{form_widget(form.nombre,{'attr':{'class': 'form-control'}}) }}

		    	{{form_label(form.apellidoPaterno)}}
		    	{{form_errors(form.apellidoPaterno)}}
		    	{{form_widget(form.apellidoPaterno, {'attr':{'class': 'form-control'}}) }}

		    	{{form_label(form.apellidoMaterno)}}
		    	{{form_errors(form.apellidoMaterno)}}
		    	{{form_widget(form.apellidoMaterno,{'attr':{'class': 'form-control'}}) }}

		    	{{form_label(form.edad)}}
		    	{{form_errors(form.edad)}}
		    	{{form_widget(form.edad,{'attr':{'class': 'form-control'}}) }}
		 	<br>
			<p>
				<input class="btn btn-default" type="submit" value="Submit">
			</p>

		    {{form_row(form._token) }}
		    {{form_rest(form) }}
		    {{form_end(form) }}
		
		<!--/form-->
		{#
		{% if is_granted('ROLE_ADMIN') %}
		    <a href="...">Delete</a>
		{% endif %}
		#}
	</div>
{% endblock %}